version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: blogDB
    volumes:
      - mongo-data:/data/db
    networks:
      - blog-net

  blog-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: blog-api
    container_name: blog-api
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo
    networks:
      - blog-net

networks:
  blog-net:
    driver: bridge

volumes:
  mongo-data:
